<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.data>
		<DbProviderFactories>
			<add name="SqlClient Data Provider"
					 invariant="Microsoft.Data.SqlClient"
					 description=".Net Framework Data Provider for SqlServer"
					 type="Microsoft.Data.SqlClient.SqlClientFactory, Microsoft.Data.SqlClient"
			/>
			<add name="ADO.NET Provider for SQLite"
					 invariant="System.Data.SQLite"
					 description="ADO.NET Provider for SQLite "
					 type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"
			/>
			<add name="SqlClient Data Provider"
					 invariant="Microsoft.Data.SqlClient"
					 description=".Net Framework Data Provider for SqlServer"
					 type="Microsoft.Data.SqlClient.SqlClientFactory, Microsoft.Data.SqlClient"
			/>
		</DbProviderFactories>
	</system.data>
</configuration>